.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}



body {
    background-color: #141416;
    color: gray;
    display: grid;
    align-content: center;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    margin: auto;
}

.form1 {
    /* margin-top: 15%; */
    margin-bottom: 7%;
}

.check_position {
    text-align: center;
    padding-top: 2%;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn_color {
    background-color: #9757D7;
    color: white;
}

.forget_style {
    color: #9757D7;
}
